
.bublle4dict {
  z-index: 99999999;
  background-color:#dde0e9 !important;
  border-radius:1px;
  cursor:pointer;
  font-family:Arial;
  font-size:15px;
  width: auto;
  height: auto;
  position: absolute;
  border-left: 6px solid rgb(65, 68, 66)!important
}


.bublle4dict li { 
   border-bottom:1px solid #f0eaea; 
   padding:8px 16px;
   display: inline-block;
   border-right: 1px solid whitesmoke;
}

.bublle4dict li:hover {
  transition: background 0.5s;
  background: #bcbfc5;
} 

#_container {
  list-style: none;
  position: relative;
  align-self: center;
  margin: auto;
  padding: 0px 0px 0px 0.5rem  !important;
}

._btns a {
  text-decoration: none; /*使text下方不出现underline*/
  position: relative;
  color: #201e1e !important; 
}




#container li:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

